# Predicting Freight Costs for Antiretroviral (AVR) and HIV Lab Shipments
- Abby Lloyd
- Capstone: MS in Data Analytics
- Northwest Missouri State University
- abbylloyd03@gmail.com

## Part One: Import & Inspect Data

### 1. Import Data

In [1]:
# Import necessary packages
import pandas as pd
from sodapy import Socrata

# Access and load data from API
# API documentation: https://dev.socrata.com/foundry/data.usaid.gov/a3rc-nmf6
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.usaid.gov", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.usaid.gov,
#                  MyAppToken,
#                  username="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("a3rc-nmf6", limit=20000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

### 2. Inspect Data

In [2]:
results_df.describe()

,id,project_code,pq,po_so,asn_dn,country,managed_by,fulfill_via,vendor_inco_term,shipment_mode,...,line_item_quantity,line_item_value,pack_price,unit_price,manufacturing_site,first_line_designation,weight_kilograms,freight_cost_usd,dosage,line_item_insurance_usd
count,10324,10324,10324,10324,10324,10324,10324,10324,10324,9964,...,10324,10324,10324,10324,10324,10324,10324,10324,8588,10037
unique,10324,142,1237,6233,7030,43,4,2,8,4,...,5065,8741,1175,183,88,2,4688,6733,54,6722
top,1,116-ZA-T30,Pre-PQ Process,SCMS-199289,ASN-19166,South Africa,PMO - US,From RDC,N/A - From RDC,Air,...,10000,200000.0,32.0,0.04,"Aurobindo Unit III, India",True,Weight Captured Separately,Freight Included in Commodity Cost,300mg,0.0
freq,1,768,2681,67,54,1406,10265,5404,5404,6113,...,93,29,368,713,3172,7030,1507,1442,990,54

In [3]:
results_df.head()

,id,project_code,pq,po_so,asn_dn,country,managed_by,fulfill_via,vendor_inco_term,shipment_mode,...,line_item_quantity,line_item_value,pack_price,unit_price,manufacturing_site,first_line_designation,weight_kilograms,freight_cost_usd,dosage,line_item_insurance_usd
0,1,100-CI-T01,Pre-PQ Process,SCMS-4,ASN-8,Côte d'Ivoire,PMO - US,Direct Drop,EXW,Air,...,19,551.0,29.0,0.97,Ranbaxy Fine Chemicals LTD,True,13,780.34,NaN,NaN
1,3,108-VN-T01,Pre-PQ Process,SCMS-13,ASN-85,Vietnam,PMO - US,Direct Drop,EXW,Air,...,1000,6200.0,6.2,0.03,"Aurobindo Unit III, India",True,358,4521.5,10mg/ml,NaN
2,4,100-CI-T01,Pre-PQ Process,SCMS-20,ASN-14,Côte d'Ivoire,PMO - US,Direct Drop,FCA,Air,...,500,40000.0,80.0,0.8,ABBVIE GmbH & Co.KG Wiesbaden,True,171,1653.78,NaN,NaN
3,15,108-VN-T01,Pre-PQ Process,SCMS-78,ASN-50,Vietnam,PMO - US,Direct Drop,EXW,Air,...,31920,127360.8,3.99,0.07,"Ranbaxy, Paonta Shahib, India",True,1855,16007.06,150mg,NaN
4,16,108-VN-T01,Pre-PQ Process,SCMS-81,ASN-55,Vietnam,PMO - US,Direct Drop,EXW,Air,...,38000,121600.0,3.2,0.05,"Aurobindo Unit III, India",True,7590,45450.08,30mg,NaN

## Part Two: Extract Data for Use in Model

### 1. Choose Countries and Manufacturing Sites to Focus On
- The original data set contained shipments to 43 unique countries. This research will focus on the the countries that recieved the most shipments. 
- After the top countries have been determined, shipments to all other countries will be removed from the dataset.
- Similarly, the top manufacturing sites that sent shipments to these countries will be determined, and shipments from all other sites will be removed.

In [4]:
# Strip any extra whitespace from the values in country column
results_df['country'].str.strip()

# Return value counts (%) for country column
results_df['country'].value_counts(normalize=True).nlargest(20)

South Africa     0.136188
Nigeria          0.115653
Côte d'Ivoire    0.104901
Uganda           0.075455
Vietnam          0.066641
Zambia           0.066157
Haiti            0.063444
Mozambique       0.061120
Zimbabwe         0.052112
Tanzania         0.050271
Rwanda           0.041651
Congo, DRC       0.032255
Guyana           0.022956
Ethiopia         0.020922
South Sudan      0.015885
Kenya            0.010752
Burundi          0.009492
Namibia          0.009202
Cameroon         0.007265
Botswana         0.006780
Name: country, dtype: float64

In [5]:
# Remove rows not included in the top countries and inspect new data set
countries_to_include = ['South Africa', 'Nigeria', 'Côte d\'Ivoire', 'Uganda', 'Vietnam', 
                     'Zambia', 'Haiti', 'Mozambique', 'Zimbabwe', 'Tanzania']

df_top_countries = results_df[results_df['country'].isin(countries_to_include)]
df_top_countries.describe()

,id,project_code,pq,po_so,asn_dn,country,managed_by,fulfill_via,vendor_inco_term,shipment_mode,...,line_item_quantity,line_item_value,pack_price,unit_price,manufacturing_site,first_line_designation,weight_kilograms,freight_cost_usd,dosage,line_item_insurance_usd
count,8176,8176,8176,8176,8176,8176,8176,8176,8176,7844,...,8176,8176,8176,8176,8176,8176,8176,8176,7298,7925
unique,8176,53,800,4847,5494,10,3,2,8,4,...,4379,7166,1091,159,77,2,4071,5140,53,5780
top,1,116-ZA-T30,Pre-PQ Process,SCMS-199289,ASN-19166,South Africa,PMO - US,From RDC,N/A - From RDC,Air,...,10000,200000.0,80.0,0.04,"Aurobindo Unit III, India",True,Weight Captured Separately,Freight Included in Commodity Cost,300mg,0.07
freq,1,768,2238,67,54,1406,8118,4415,4415,4176,...,84,29,201,563,2694,5494,1366,1394,830,27

In [6]:
# Strip any extra whitespace from the values in manufacturing_site column
df_top_countries['manufacturing_site'].str.strip()

# Return value counts (%) for manufacturing_site column
df_top_countries['manufacturing_site'].value_counts(normalize=True).nlargest(20)

Aurobindo Unit III, India                                                   0.329501
Mylan (formerly Matrix) Nashik                                              0.143713
Hetero Unit III Hyderabad IN                                                0.086473
Cipla, Goa, India                                                           0.073141
Strides, Bangalore, India.                                                  0.053327
ABBVIE Ludwigshafen Germany                                                 0.040484
Alere Medical Co., Ltd.                                                     0.034124
Inverness Japan                                                             0.022994
ABBVIE (Abbott) Logis. UK                                                   0.022750
BMS Meymac, France                                                          0.017613
Aspen-OSD, Port Elizabeth, SA                                               0.016512
Trinity Biotech, Plc                                                        0.016267
MSD, Haarlem, NL                                                            0.014310
Aurobindo Unit VII, IN                                                      0.010519
Standard Diagnostics, Korea                                                 0.009662
Chembio Diagnostics Sys. Inc.                                               0.008806
GSK Mississauga (Canada)                                                    0.006727
Janssen-Cilag, Latina, IT                                                   0.006605
Micro labs, Verna, Goa, India                                               0.005626
Emcure Plot No.P-2, I.T-B.T. Park, Phase II, MIDC, Hinjwadi, Pune, India    0.005382
Name: manufacturing_site, dtype: float64

In [7]:
# Remove rows not included in the top manufacturing sites and inspect new data set
man_site_to_include = ['Aurobindo Unit III, India', 'Mylan (formerly Matrix) Nashik', 'Hetero Unit III Hyderabad IN',
                       'Cipla, Goa, India', 'Strides, Bangalore, India.', 'ABBVIE Ludwigshafen Germany']

df_top_countries_top_man = df_top_countries[df_top_countries['manufacturing_site'].isin(man_site_to_include)]
df_top_countries_top_man.describe()

,id,project_code,pq,po_so,asn_dn,country,managed_by,fulfill_via,vendor_inco_term,shipment_mode,...,line_item_quantity,line_item_value,pack_price,unit_price,manufacturing_site,first_line_designation,weight_kilograms,freight_cost_usd,dosage,line_item_insurance_usd
count,5941,5941,5941,5941,5941,5941,5941,5941,5941,5755,...,5941,5941,5941,5941,5941,5941,5941,5941,5941,5818
unique,5941,43,513,3544,3892,10,2,2,5,4,...,3679,5419,692,93,6,2,3469,3749,39,4562
top,3,151-NG-T30,Pre-PQ Process,SCMS-199289,ASN-19166,South Africa,PMO - US,From RDC,N/A - From RDC,Air,...,50000,16000.0,11.22,0.04,"Aurobindo Unit III, India",True,Weight Captured Separately,Freight Included in Commodity Cost,300mg,0.07
freq,1,589,1369,67,33,950,5907,3889,3889,2662,...,57,11,127,519,2694,3784,782,847,711,16

### 2. Remove rows that do not include freight cost

In [8]:
# Strip any extra whitespace from the values in freight_cost_usd column
df_top_countries_top_man['freight_cost_usd'].str.strip()

# Remove rows that do not include freight costs and inspect new data set
freight_price_not_listed = ['Freight Included in Commodity Cost', 'Invoiced Separately']
final_df = df_top_countries_top_man[~df_top_countries_top_man['freight_cost_usd'].isin(freight_price_not_listed)]
final_df2 = final_df[~df_top_countries_top_man['freight_cost_usd'].str.contains('See')]
final_df2.describe()

/var/folders/08/r16vjmps66jch4n1446z7m0r0000gn/T/ipykernel_64861/2033593462.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  final_df2 = final_df[~df_top_countries_top_man['freight_cost_usd'].str.contains('See')]

,id,project_code,pq,po_so,asn_dn,country,managed_by,fulfill_via,vendor_inco_term,shipment_mode,...,line_item_quantity,line_item_value,pack_price,unit_price,manufacturing_site,first_line_designation,weight_kilograms,freight_cost_usd,dosage,line_item_insurance_usd
count,3412,3412,3412,3412,3412,3412,3412,3412,3412,3285,...,3412,3412,3412,3412,3412,3412,3412,3412,3412,3340
unique,3412,42,483,3146,3412,10,1,2,5,4,...,2473,3186,442,67,6,1,2488,2827,38,3005
top,3,104-CI-T30,Pre-PQ Process,SCMS-68980,ASN-85,Nigeria,PMO - US,From RDC,N/A - From RDC,Air,...,50000,600500.0,11.22,0.04,"Aurobindo Unit III, India",True,36,9736.1,200mg,960.8
freq,1,363,804,10,1,496,3412,2365,2365,1680,...,40,8,81,329,1402,3412,11,36,374,7

### 3. Remove columns that are not neccesary

In [9]:
columns_to_drop = ['id', 'project_code', 'pq', 'po_so', 'asn_dn', 'managed_by', 'vendor_inco_term', 'pack_price', 
                   'unit_price', 'first_line_designation', 'weight_kilograms', 'dosage', 
                   'line_item_insurance_usd', 'fulfill_via', 'pq_first_sent_to_client_date',
                   'po_sent_to_vendor_date', 'scheduled_delivery_date', 'delivered_to_client_date',
                   'delivery_recorded_date', 'vendor', 'item_description', 'dosage_form', 'molecule_test_type',
                   'product_group', 'unit_of_measure_per_pack']

selected_df = final_df2.drop(columns_to_drop, axis=1)

In [14]:
selected_df.describe()

,country,shipment_mode,sub_classification,brand,line_item_quantity,line_item_value,manufacturing_site,freight_cost_usd
count,3412,3285,3412,3412,3412,3412,3412,3412
unique,10,4,2,3,2473,3186,6,2827
top,Nigeria,Air,Adult,Generic,50000,600500.0,"Aurobindo Unit III, India",9736.1
freq,496,1680,2753,3207,40,8,1402,36

In [16]:
selected_df.dtypes

country               object
shipment_mode         object
sub_classification    object
brand                 object
line_item_quantity    object
line_item_value       object
manufacturing_site    object
freight_cost_usd      object
dtype: object

## Part Three: Clean Data and For Model